.App {
  text-align: center;
  padding: 20px;
}

.App .toast {
  position: fixed;
  left: 50%;
  top: 26px;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: var(--borderRadius);
  z-index: 1;
}

.App .toast.error {
  border: 2px solid var(--colorErrorBorder);
  background: var(--colorError);
}

.App .toast.info {
  border: 2px solid var(--colorCtaBorder);
  background: var(--colorCta);
}

.App input {
  font-size: 20px;
  padding: 20px;
  width: 100%;
  border-radius: var(--borderRadius);
  box-shadow: 3px 3px 5px 3px rgba(77, 0, 0, 0.5);
  border: 3px solid #1e1e1e;
  background: var(--panelBackground);
  font-weight: bold;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App .noresults {
  padding: 20px;
}

.App .movies {
  box-shadow: 3px 3px 5px 3px rgba(77, 0, 0, 0.5);
  background: var(--panelBackground);
  border-radius: 3px;
  overflow: hidden;
}

.App .save-search {
  box-shadow: 3px 3px 5px 3px rgba(77, 0, 0, 0.5);
  border: 3px solid #1e1e1e;
  background: var(--panelBackground);
  border-radius: var(--borderRadius);
  padding: 8px 10px 10px 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.App .save-search .header {
  font-size: 10px;
}
.App .save-search .body {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.App .save-search .body svg {
  width: 16px;
  margin-right: 5px;
}

.App .heart.saved path {
  fill: red;
}
