@import url('https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: var(--defaultFont);
  color: var(--lightTextColor);
  text-rendering: optimizeLegibility;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* COLORS */
  --backgroundImage: linear-gradient(#eb0000, #680000);
  --titleColor: #3c3c3c;
  --colorError: rgba(250, 100, 100, 0.95);
  --colorErrorBorder: rgba(250, 50, 50, 0.95);
  --colorCta: #4294c7;
  --colorCtaBorder: #4284ad;
  --colorSecondary: #f5f8fb;
  --colorSecondaryBorder: #e2e7ea;
  --lightTextColor: #e7e7e7;
  --panelBackground: #33383d;

  /* FONTS */
  --titleFont: 'Helvetica', serif;
  --defaultFont: 'Open Sans', sans-serif;
  --monospaceFont: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Courier New', monospace;

  /* SIZES */
  --panelPadding: 20px;
  --borderRadius: 3px;
  --largeBorderRadius: 6px;
}

code {
  font-family: var(--monospaceFont);
}

::placeholder {
  color: #787878;
}
html {
  background: var(--backgroundImage);
  height: 100%;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
}

.spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
