.TorrentList {
  position: fixed;
  bottom: 0;
  left: 0;
  background: black;
  width: 100%;
}

.TorrentList .torrent {
  position: relative;
  width: 100%;
  border-top: 1px solid rgb(34, 34, 34);
  margin: 0;
  padding: 10px;
}
.TorrentList .torrent:first-of-type {
  border-top: none;
}
.TorrentList .torrent h2 {
  font-weight: bold;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.TorrentList .progress {
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  position: absolute;
  background: #00538a;
}
